<p id="notice"><%= notice %></p>

<p>
  <b>Zip code:</b>
  <%= @buyer_leads_zip_code.zip_code %>
</p>

<p>
  <b>Party:</b>
  <%= @buyer_leads_zip_code.party_id %>
</p>


<%= link_to 'Edit', edit_buyer_leads_zip_code_path(@buyer_leads_zip_code) %> |
<%= link_to 'Back', buyer_leads_zip_codes_path %>
